__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

logs/*.log
RAG_Index/
models/*.gguf
models/*.bin

*.spec.bak
.DS_Store
Thumbs.db
.idea/
.vscode/

Projects/*
!Projects/.gitkeep
